
$columns: 12;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


html {
    font-size: 10px;
}

.container {
    width: 125rem;
    margin: auto;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}


@for $width from 1 through $columns {
	.col-#{$width} {
		flex-basis: $width / $columns * 100%;
	}  
}

.gap-8rem {
    gap: 8rem;
}